*{
    background: rgb(36,0,30);
    background: linear-gradient(90deg, rgba(36,0,30,1) 0%, rgba(121,113,9,1) 54%, rgba(0,107,255,1) 100%);
}

.image{
    position: absolute;
    left: 65vh;

}


@media screen and (max-width: 800px) {
    .image{
        left: 30px;
    }
   *{
     background-attachment: fixed;

   }
   .block{
    position: relative;
    top: 72%;
    left: 15%;
    }
}

.block{
    background: rgb(243, 3, 3);
    height: 400px;
    width: 400px;
    color: rgb(240, 2, 3);
}